body {
  font-family: Tahoma;
  background: #f5f7fa;
  padding: 20px;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
